@font-face {
    font-family: 'Sansation';
    src: url('../font/SansationBold.eot');
    src: url('../font/SansationBold.eot?#iefix') format('embedded-opentype'),
    url('../font/SansationBold.woff2') format('woff2'),
    url('../font/SansationBold.woff') format('woff'),
    url('../font/SansationBold.ttf') format('truetype'),
    url('../font/SansationBold.svg#SansationBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url('../font/SansationRegular.eot');
    src: url('../font/SansationRegular.eot?#iefix') format('embedded-opentype'),
    url('../font/SansationRegular.woff2') format('woff2'),
    url('../font/SansationRegular.woff') format('woff'),
    url('../font/SansationRegular.ttf') format('truetype'),
    url('../font/SansationRegular.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro';
    src: url('../font/Intro-Black.eot');
    src: url('../font/Intro-Black.eot?#iefix') format('embedded-opentype'),
    url('../font/Intro-Black.woff2') format('woff2'),
    url('../font/Intro-Black.woff') format('woff'),
    url('../font/Intro-Black.ttf') format('truetype'),
    url('../font/Intro-Black.svg#Intro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Intro';
    src: url('../font/Intro-Regular.eot');
    src: url('../font/Intro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Intro-Regular.woff2') format('woff2'),
    url('../font/Intro-Regular.woff') format('woff'),
    url('../font/Intro-Regular.ttf') format('truetype'),
    url('../font/Intro-Regular.svg#Intro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



